# Exclude source / dev files — only out/, package.json, README.md, icon.png,
# and LICENSE are needed at runtime.
src/**
node_modules/**
.vscode/**
.gitignore
tsconfig.json
build.js
icon.svg
PROGRESS.md
*.vsix
